.container {
  width: 100%;
  height: 80%;
  border-bottom: 2px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: row;

  .statsContainer {
    flex: 1;
  }

  .widgetContainer {
    flex: 1;
    overflow: auto;
  }
}
